body {
  display: flex;
  justify-content: center;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  max-width: 350px;
  flex-grow: 1;
}

.banner, .name, .social-icons {
  display: flex;
  justify-content: space-evenly;
}

.headshot {
  width: 200px;
}

.social-icons {
  justify-content: space-evenly;
}

.si {
  width: 40px;
}

.link {
  display: flex;
  justify-content: left;
}

.plink {
  width: 60px;
  margin-left: 20px;
}

.hlink {
  margin-left: 40px;
  align-content: center;
}
