* {
  border-style: groove;
  border-color:brown;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  max-width: 640px;
  flex-grow: 1;
}

div {
  text-align: center;
}
